<app-header></app-header>
   <div class="book__container" *ngIf="!enableaddBooks">
    <h1 class="book__page-title bibliophile__heading">Books</h1>
    <div class="row">
      <div *ngFor="let book of books" class="col-md-3">
        <div class="card book__item" [class.active]="loggedIn">
          <div class="card-body book__item-container">
            <a routerLink="/bookdetails/{{book._id}}">
              <div class="book__cover" style="background-image:url({{imageUrl}}/{{book.cover}})">

              </div>
            </a>
            <!-- <img src="{{imageUrl}}/{{book.cover}}" alt="" class="book__cover"> -->
            <a class="card-title book__main-title" routerLink="/bookdetails/{{book._id}}">
              {{ book.title }}
            </a>
            <h6 class="card-subtitle book__sub-title">
              {{book.author}}
            </h6>
            <div *ngIf="book.blurb" class="card-text book__description">
              Summary: {{(book.blurb.length>300)? (book.blurb | slice:0:300)+'..':(book.blurb)}}
            </div>
            <div class="book__button-container"  *ngIf="loggedIn">
              <button class="btn btn-primary book__review" (click)="revieBook(book)">Review</button>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
