body,
html{
    font-size: 16px;
}
.clear {
    clear: both;
}
.navigation {
    &__container {
        padding-left: 0;
        margin-left: 0;
        display: flex;
        margin-bottom: 0;
        justify-content: left;
        height: 80px;
        align-items: center;
    }
    &__item{
        list-style: none;
    }
    &__link {
        padding: 10px 20px;
        font-size: 1.25rem;
        text-decoration: none;
        background: #000;
        color: #fff;
        margin-right: 15px;
        &:hover {
            text-decoration: none;
        }
    }
    &--main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.container {
    &--1400{
        max-width: 100%;
        width: 1400px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}
