body,
html{
    font-size: 16px;
}
.clear {
    clear: both;
}
.container {
    &--1400{
        max-width: 100%;
        width: 1400px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}