<h1>Sign Up</h1>
<form (ngSubmit)="addUsers()" #signUpForm="ngForm">
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" id="fname" name="fname" required minlength="4"
      [(ngModel)]="newUser.fname" #fname="ngModel">
      <div *ngIf="fname.invalid && (fname.dirty || fname.touched || signUpForm.submitted)"
          class="alert alert-danger">
        <div *ngIf="fname.errors.required">
          First Name is required.
        </div>
        <div *ngIf="fname.errors.minlength">
          First Name must be at least 4 characters long.
        </div>
      </div>

          </div>
    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" id="lname" name="lname" required minlength="4"
      [(ngModel)]="newUser.lname" #lname="ngModel">
      <div *ngIf="lname.invalid && (lname.dirty || lname.touched || signUpForm.submitted)"
          class="alert alert-danger">
        <div *ngIf="lname.errors.required">
          Last Name is required.
        </div>
        <div *ngIf="lname.errors.minlength">
          Last Name must be at least 4 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="user">Username</label>
      <input type="text" class="form-control" id="user" name="user" required minlength="6"
      [(ngModel)]="newUser.user" #user = "ngModel">
      <div *ngIf="user.invalid && (user.dirty || user.touched || signUpForm.submitted)"
          class="alert alert-danger">
        <div *ngIf="user.errors.required">
          Username is required.
        </div>
        <div *ngIf="user.errors.minlength">
          Username must be at least 6 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" appPasswordPattern required
      [(ngModel)]="newUser.password" #password = "ngModel">
      <div *ngIf="password.invalid && (password.dirty || password.touched || signUpForm.submitted)"
          class="alert alert-danger">
          <div *ngIf="password.errors?.required">
            Password is required.
          </div>
          <div *ngIf="password.errors?.invalidPassword">
            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
            letter and 1 number
          </div>
      </div>
    </div>
    <div class="form-group">
      <label for="cpassword">Confirm Password</label>
      <input type="password" class="form-control" id="cpassword" name="cpassword" appMatchPassword required
      [(ngModel)]="newUser.cpassword" #cpassword="ngModel">
      <div *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched || signUpForm.submitted)"
          class="alert alert-danger">
        <div *ngIf="cpassword.errors?.required">
          Confirm Password is required.
        </div>
        <div *ngIf="cpassword.errors?.passwordMismatch">
          Passwords doesnot match
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>