<h1>Sign Up</h1>
<!--
<form (ngSubmit)="addBooks();signUpForm.reset()" #signUpForm="ngForm">
    <div class="form-group">
      <label for="user">Username</label>
      <input type="text" class="form-control" id="user" name="user" required
      [(ngModel)]="newBook.user">
          </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" required
      [(ngModel)]="newBook.author">
    </div>
    <div class="form-group">
      <label for="cpassword">Confirm Password</label>
      <input type="password" class="form-control" id="cpassword" name="cpassword"
      [(ngModel)]="newBook.category">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
  -->