<h1>Sign Up</h1>

<form  [formGroup]="userFormGroup" #userForm="ngForm"
(ngSubmit)="addUsers()">
    <p>
      Form Status: {{ userForm.status }}
    </p>
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" id="fname" name="fname" formControlName="fname">
    </div>
    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" id="lname" formControlName="lname" name="lname" 
      required>
    </div>
    <div class="form-group">
      <label for="user">Username</label>
      <input type="text" class="form-control" id="user" formControlName="user" name="user" 
      required >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password" name="password" 
      required >
    </div>
    <div class="form-group">
      <label for="cpassword">Confirm Password</label>
      <input type="password" class="form-control" id="cpassword" formControlName="cpassword" 
      name="cpassword"  required>     
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>